.masterContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.masterContainer h1{
    padding: 2rem;
}

.contenedorCards{
    border-radius: 5px;
    padding: 2rem;
    background: #92bd83;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
}