.homeTextComponent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 50%;
    max-width: 992px;
    margin: 0 auto;
    
}
p{
    font-size: 1.5rem;
    padding-block: 2rem;
}
.homeTitle{
    margin-top: 2rem;
}