@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  --clr-gray:rgb(206, 204, 204);
  --clr-strong-gray:rgb(154, 153, 159);
  --clr-green:rgb(176, 255, 176);
  --clr-white:rgb(250,250,250);
  --clr-black: rgb(28, 28, 28);
}
img{
  width: 10rem;
}
.navBg {
  padding: 2rem;
  border-top: .5rem rgb(99, 184, 99) solid;
  background: #ecf4e3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed !important;
  z-index: 10;
  width: 100vw;

}

.buttonContainer{
padding: .5rem;

}

Button img{
  width: 2rem;
  border-radius: 5px;

}

Button img:hover{

  background-color: rgb(228, 255, 220);
  border-radius: 5px;
  opacity: .5;
  scale: 1.1;
  transition: 1s;
  
}

.productsLink{
  text-decoration: none;
  color:var(--clr-black);
  padding-right: 1rem;
}
/* @media screen and (max-width:992px){
  .buttonContainer{
    display: none;
  }
} */


