.carrouselHome{
    padding-top: 7rem;
}

.carousel-caption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    background-color: rgba(133, 113, 113, 0.7);
    width:  fit-content;
}
h5{
    color: aliceblue;
    font-size: 2rem !important;

}