


@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


.carrouselHome{
    padding-top: 3rem;
}

.carousel-caption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselTextContainer{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    max-width:  20rem;
    font-size: 1.5rem;
    font-family: 'Handlee', cursive;
}
h5{
    color: aliceblue;
    font-size: 2rem !important;

}

@media screen and (max-width:992px){
    .carouselTextContainer{
        display:none;
    }
    .carrouselHome{
        padding-top: 6.3rem;
    }
    
}